
{% extends 'base.html' %}
{% load polls_filters %}

{% block content %}

<style>

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .browser text {
    text-anchor: end;
  }

</style>
<div class="svg-container"></div>
<script src="https://d3js.org/d3.v4.min.js"></script>
<!-- <script src="/polls/get-layout/"></script> -->


</script>
<script>


  var data = {{js_data|safe}};

  //console.log(data);
  data = data.map(function(d) {
    return {'date'   : new Date(d.date),
            'third1' : +d.third1,
            'third2' : +d.third2, 'third3' : +d.third3};
  });

  // for(var i = 0; i < data.length; i++) {
  //   console.log(data[i].date +','+ data[i].third1+ ',' + data[i].third2 + ',' + data[i].third3);
  // }


  // var margin = {top: 20, right: 20, bottom: 30, left: 50},
  //     width = 960 - margin.left - margin.right,
  //     height = 500 - margin.top - margin.bottom;

  var height = 468.09,
      width = 761.11;
  var margin = { left : 50, right : 50, top : 40, bottom : 0};

  //var parseDate = d3.timeFormat("%b %Y").parse;
      //formatPercent = d3.format(".0%");

  var x = d3.scaleTime()
      .domain(d3.extent(data, function(d){ return d.date;}))
      .range([0, width]);

  var y = d3.scaleLinear()
      .domain(0, d3.max(data, function(d) {return data.third1 + data.third2 + data.third3}))
      .range([height, 0]);

  var categories = ['third1', 'third2', 'third3'];
  var stack = d3.stack().keys(categories);



  var area = d3.area()
      .x(function(d) { return x(d.data.date); })
      .y0(function(d) { return y(d[0]); })
      .y1(function(d) { return y(d[1]); });

  var svg = d3.select(".svg-container").append("svg").attr("width", "100%").attr("height", "100%");
  var chartGroup = svg.append("g").attr("transform", "translate("+ margin.top +','+ margin.left +")");

  var stacked = stack(data);
  console.log(stacked);

  chartGroup.append("g").attr("class", "x axis")
                        .attr("transform", "translate(0, "+ height +")")
                        .call(d3.axisBottom(x));

  chartGroup.append("g").attr("class", "y axis")
                        .call(d3.axisLeft(y).ticks(5));

  // chartGroup.selectAll("path.area")
  //           .data(stacked)
  //           .enter().append("path")
  //           .attr("class", "area")
  //           .attr("d", function(d) {return area(d);});

  chartGroup.selectAll("g.area")
              .data(stacked)
              .enter().append("g")
                  .attr("class", "area")
              .append("path")
                  .attr("class", "area")
                  .attr("d", function(d) { return area(d);});


</script>

{% endblock %}
