<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>D3.js Essential Training for Data Scientists</title>
		<!-- <link rel="stylesheet" type="text/css" href="style.css" > -->
    <style>
      html, body {
        margin: 0;
        height: 100%;
        }

        line {
        stroke: red;
        }

        path {
        stroke: black;
        /*fill: none;*/
        stroke-width: 2px;
        }

        g.group0 path,
        g.group0 circle {
        stroke: red;
        fill: none;
        }

        g.hidden line,
        g.hidden path {
        display: none;
        }

        g.tick line {
        stroke: blue;
        }

        g.tick text {
        font-size: 12px;
        fill: purple;
        }

    </style>
		<!-- <script type="text/javascript" src="d3.v4.js"></script> -->
    <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>

	</head>

	<body>
		<script>
    //var parseDate = d3.timeParse("%Y");




    var height = 200;
    var width = 500;
    var margin = {left: 50, right: 50, top: 40, bottom:0};

    var data = {{js_data|safe}};
		var headers = {{js_headers|safe}};

		console.log(headers);
		console.log(data);

		// loading data since data stream isn't json
		var clean_data = []
		for(var i = 0; i < data.length; i++) {
			var tmp_json = {'date': new Date(data[i][0]), 'sum' : 0};
			var tmp_sum = 0;

			for(var j =1; j < data[i].length; j++) {
				tmp_json[headers[j - 1]] = +data[i][j];
				tmp_sum += +data[i][j];
			}
			tmp_json['sum'] = +tmp_sum;
			console.log(typeof JSON.stringify(tmp_json));
			clean_data.push(tmp_json);
			//clean_data.push(JSON.stringify(tmp_json));
		}
		console.log(clean_data);


    // data = data.map(function(d) {
    //   return {'date'   : new Date(d.date),
    //           'third1' : +d.third1,
    //           'third2' : +d.third2,
		// 					 'third3' : +d.third3,
		// 					 'sum' : +d.third1 + +d.third2 + +d.third3
		// 				 };
    // });

		//console.log("attribs:  " +  JSON.parse(data[0]));
		// for (let key of data[0].keys()) {
		// 	console.log(key);
		// }
		// let json_data = JSON.stringify(data[0]);
		// var json_out = JSON.parse(json_data , function (key, value)
    //                {
    //                   //if (typeof value === ‘string’)
		// 									if(key !== 'date' && key !== 'sum')
    //                   {
		// 										console.log(key);
    //                     return value;
    //                   }
    //                });
		// console.log(json_out);
		//
		// console.log(data);

    var x = d3.scaleTime()
              .domain(d3.extent(clean_data,function(d){return d.date;}))
              .range([0,width]);
    var y = d3.scaleLinear()
              .domain([0,d3.max(clean_data,function(d){ return d.sum; })])
              .range([height,0]);

    var categories = ['third1','third2','third3'];

    var stack = d3.stack().keys(categories);

    var area = d3.area()
                  .x(function(d,i){ return x(d.data.date);})
                  .y0(function(d){
										console.log('d0: ' + d[0]);
										return y(d[0]);})
                  .y1(function(d){ return y(d[1]);});

    var svg = d3.select("body").append("svg").attr("width","100%").attr("height","100%");
    var chartGroup = svg.append("g").attr("transform","translate("+margin.left+","+margin.top+")");

    var stacked = stack(clean_data);

    chartGroup.append("g").attr("class","x axis")
                          .attr("transform","translate(0,"+height+")")
                          .call(d3.axisBottom(x));
    chartGroup.append("g").attr("class","y axis")
                          .call(d3.axisLeft(y).ticks(5));

    // chartGroup.selectAll("path.area")
    //   .data(stacked)
    //   .enter().append("path")
    //             .attr("class","area")
    //             .attr("d",function(d){ return area(d); });

    //var colors = ["red", "yellow", "blue"];
		var colors = d3.scaleOrdinal(d3.schemeCategory10);



    chartGroup.selectAll("g.area")
      .data(stacked)
      .enter().append("g")
                .attr("class","area")
      .append("path")
                .attr("class","area ")
								.style("fill", function(d) {return colors(d[0]);})
                //.style("fill", function(d, i) { return colors[i];})
                .attr("d",function(d){ return area(d); });

    </script>
  </body>

</html>
