<!DOCTYPE html>
<meta charset="utf-8">

<title>Rent in the US</title>

<style type="text/css">
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600');

body {
    width: 800px;
    margin: 20px auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 11px;
}
.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.axis--x line{
    display: none;
}
.axis--x path {
    display: none;
}
.axis--y path {
    display: none;
}
h1, h3 {
    text-align: center;
}
div.tooltip {
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    padding: 8px;
    font: 12px sans-serif;
    background: black;
    border-radius: 0px;
    pointer-events: none;
    color: white;
}
.mean {
    stroke-width: 1px;
    stroke: red;
}

</style>

<body>

    <h1>Interactive time graph</h1>

</body>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script> -->
<script src="https://d3js.org/d3.v4.min.js"></script>

<script type="text/javascript">

  var monthArr = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];


  // function formatDate(dt) {
  //   var monthArr = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
  //   var dtArr = dt.split('-');
  //
  //   return monthArr[dtArr[1] - 1] + ' ' + dtArr[0];
  // }

  var data = {{nested_data|safe}};
  data = data.map(x => [monthArr[+(x[0].split("-")[1] - 1)] , x[1]]).reverse();

  var margin = {top: 10, right: 10, bottom: 100, left: 60};

  var width = 800 - margin.left - margin.right,
      height = 600 - margin.top - margin.bottom;

  var x = d3.scaleBand()
      .rangeRound([0, width])
      .padding(1)
      //.rangeRoundBands([0,width],1);

  var x2 = d3.scaleBand()
      .rangeRound([0, width])
      .padding(0)
      //.rangeRoundBands([0,width],0);

  var y = d3.scaleLinear()
      .range([height,0]);


  var xAxis = d3.axisBottom(x);
  var yAxis = d3.axisLeft(y);
  var color = d3.scaleOrdinal(d3.schemeCategory10);

  var tooltip = d3.select("body").append("div")
          .attr("class", "tooltip")
          .style("opacity", 0);


  // d3.csv("rent.csv", ready);
  //
  // function ready(error, data) {
  //     if (error) throw error;
  //
  //     data.forEach(function(d) {
  //         d.rent = +d.Rent;
  //     });

    console.log("data", data);

    var svg = d3.select("body").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


    x.domain(data.map(function(d) { return d[0]; }));
    y.domain([0, d3.max(data, function(d) { return d[1]; })]);
    x2.domain(data.map(function(d) { return d[0]; }));

    svg.append("g")
        .attr("class", "axis axis--x")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis)
        .selectAll("text")
        .attr("y", 0)
        .attr("x", 9)
        .attr("dy", "-0.2em")
        .attr("transform", "rotate(90)")
        .style("text-anchor", "start");

    svg.append("g")
        .attr("class", "axis axis--y")
        .call(yAxis)
        .append("text")
        //.attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", "0em")
        .attr("text-anchor", "end")
        .text("dollars ($)");

    bars = svg.append("g").attr("class", "bars");

    bars.selectAll(".bar")
        .data(data)
        .enter().append("rect")
        .attr("class", "bar")
        .attr("x", function(d) { return x(d[0]); })
        .attr("y", function(d) { return y(d[1]); })
        .attr("width", 10)
        .attr("height", function(d) { return height - y(d[1]); })
        .style("fill", "#ccc")
        .on("mouseover", function(d) {
            d3.select(this).style("fill", function(d) { return color(d[0]); })
            tooltip.text(d[0] + ", " + " $" + d[1])
            .style("opacity", 0.8)
                    .style("left", (d3.event.pageX)+0 + "px")
                    .style("top", (d3.event.pageY)-0 + "px");
        })
        .on("mouseout", function(d) {
            tooltip.style("opacity", 0);
            d3.select(this).style("fill", "#ccc");

        });


    var sum = d3.sum(data, function(d) { return d[1]; });
    var average = sum/data.length;

    var line = d3.line()
        .x(function(d, i) { return x2(d[0]) + i; })
        .y(function(d, i) { return y(average); });

    svg.append("path")
        .datum(data)
        .attr("class", "mean")
        .attr("d", line);

    svg.append("text")
        .attr("transform", "translate(" + (width+3) + "," + y(average) + ")")
        .attr("dy", "1em")
        .attr("text-anchor", "end")
        .style("fill", "red")
        .html("Average = $" + average);

</script>
